/* https://coolors.co/11324b-00406d-3e5d77-748cab-ebebeb */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Rubik&display=swap');

:root {
    --primary-color: #11324b;
    --secondary-color: #00406d;
    --accent-color1: #3e5d77;
    --accent-color2: #748cab;
    --accent-color3: #ebebeb;

    --heading-font: 'Oswald', Arial, sans-serif;
    --paragraph-font: 'Rubik', Helvetica, sans-serif;
}

html {
    font-size: 14px;
    min-height: 100%;
}

body {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    line-height: 1.5;
    color: black;
    background-color: var(--accent-color3);
}

main {
    max-width: 780px;
    margin: 1rem auto;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

button {
    background-color: var(--accent-color2);
    padding: 12px 24px;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--accent-color3);
    padding: 1rem;
    margin-bottom: 1rem;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
}

nav li a, footer a {
    color: var(--accent-color3);
    text-decoration: none;
}

.site-name {
    font-size: 1.5rem;
    margin-bottom: 0;
    color: var(--accent-color3);
    text-decoration: none;
    font-family: var(--heading-font);
}

.site-name-div {
    grid-column: 1 / 3;
}

nav {
    grid-column: span 3;
}

#hamBtn {
    border: 1px solid white;
    font-size: 2rem;
    width: 42px;
    height: 42px;
    justify-self: end;
    align-self: center;
    padding: 0;
}

#hamBtn span:nth-child(1) {
    display: block;
}

#hamBtn span:nth-child(2) {
    display: none;
}

#hamBtn.open span:nth-child(1) {
    display: none;
}

#hamBtn.open span:nth-child(2) {
    display: block;
}

nav ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul.open {
    display: block;
}

nav ul li a {
    display: block;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
    background-color: var(--accent-color2);
}

#primaryNav {
    margin-top: 1rem;
}

.headshot {
    margin: 0 auto;
    width: 200px;
}

.headshot img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    padding: .05rem;
    border: 2px solid black;
}

iframe {
    margin: 0 auto;
    width: 100%;
    height: 800px;
}

.resume-div {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

table {
    border: 2px solid black;
    padding: .2rem;
    border-spacing: 0;
    font-size: 12px;
}

th {
    border: 1px solid black;
    margin: 0 auto;
    padding: .1rem .2rem;
}

td {
    border: 1px solid black;
    margin: 0 auto;
    padding: .1rem .2rem;
}

.work-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2rem 2rem auto;
    border: 3px solid #11324b;
    padding: .5rem;
}

.job-period, .job-location {
    justify-self: end;
    align-self: center;
}

.job-title, .job-company {
    justify-self: start;
    align-self: center;
}

.job-description {
    grid-column: span 2;
}

.job-leave-reason {
    grid-column: span 2;
    border-top: 2px solid black;
    align-self: center;
    padding-top: .5rem;
}

.project-div {
    border: 3px solid #11324b;
    padding: 0 1rem;
}

.selected {
    background-color: var(--secondary-color);
    color: var(--accent-color3);
    box-shadow: inset 0 0 5px 2px black;
}

.home-starter-div {
    line-height: .75;
}

/* Extra Device Size */
@media (min-width: 640px) {
    .home-starter-div {
        line-height: 1;
        font-size: 16px;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .headshot {
        justify-self: start;
        margin: 0;
    }
}

/* Tablets */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    #hamBtn {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        text-align: center;
    }

    nav ul li {
        flex: 1 1 auto;
    }

    .headshot {
        width: 400px;
    }

    table {
        font-size: 16px;
    }
}

/* Desktops */
@media (min-width: 1024px) {
    html {
        font-size: 18px;
    }

    main {
        max-width: 960px;
    }

    table {
        font-size: 18px;
    }

    .home-starter-div {
        line-height: 1;
        font-size: 16px;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .headshot {
        justify-self: start;
        margin: 0;
    }
}